body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
    color: black;
    font-family: 'Patrick Hand', cursive;
}
header {
    width: 100;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
}
h1 {
    font-size: 5vmin;
}
h1, p {
    margin: 0;
    position: relative;
}
p {
    top: 8px;
}
ul {
    padding: 0px;
}
li {
    height: 50px;
    line-height: 50px;
    display: block;
    border-bottom: 1px solid black;
    font-size: 5vmin;
    cursor: pointer;
}
.tarefas {
    text-align:center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 70%;
    height: 60px;
}
#nova-tarefa {
    width: 60%;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    font-family: 'Patrick Hand', cursive;
    font-size: 5vmin;
    outline: none;
}
#add-tarefa {
    border: none;
    margin-left: 2vmin;
    padding: 0px;
    height: 50px;
    width: 9vmin;
    font-size: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: green;
    background-color: whitesmoke;
    transition: all 0.2s ease-in-out;
}
#add-tarefa:hover {
    color: rgb(85, 128, 128);
    text-shadow: 0 5px 5px whitesmoke;
}
.apagar-tarefa {
    font-size: 3vmin;
    padding: 0px;
    border: none;
    height: 100%;
    margin-right: 10px;
    float: right;
    color: rgb(255, 38, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.apagar-tarefa:hover {
    text-shadow: 0 1px 1px rgba(255, 0, 0, 0.664);
    font-size: 4vmin;
}
.delete {
    display: none;
}
.tarefa-feita {
    text-decoration: line-through;
    background-color: greenyellow;
}

